extend ../layout.jade 
block content
 #contentrow.row.layout--accountPage
  .row__container.catfish-container
    #contentiInnerRow.clearfix.columns.is-desktop
      .grid_3.column.is-3-desktop
        .block.block-account-navigation
          .title
            | My account
          .clear
          .listbox
            ul
              li.cf_accountlinks_CustomerInfo
                a.active(rel='nofollow' href='/account/customer_info') Customer info
              li.cf_accountlinks_CustomerAddresses
                a.inactive(rel='nofollow' href='/account/addresses') Addresses
              li.cf_accountlinks_CustomerOrders
                a.inactive(rel='nofollow' href='/account/orders') Orders
              li.cf_accountlinks_CustomerChangePassword
                a.inactive(rel='nofollow' href='/account/change_password') Change password
              li.cf_accountlinks_CustomerChangePassword
                a.inactive(rel='nofollow' href='/logout') Logout
              
              //li.cf_accountlinks_SavedProjects
                a.inactive(rel='nofollow' href='/account/saved_projects') Saved Projects
      .grid_9.column.is-9-desktop
        .master-wrapper-cph-2
          #BeforeMainContainer.row
          .account-page.account-page--customerinfo
            .catfish-container
              .page-title
                h1.title.is-spaced
                  span.account-page__myaccounttitletext My account - 
                  | Customer info
              .body
                .section-body
                  form(action='/account/customer_info_post' method='post' novalidate='novalidate')
                    .customer-info-box
                      .customer__section
                        .message-error.block
                          .validation-summary-valid(data-valmsg-summary='true')
                            ul
                              li(style='display:none')
                        h2.section-title.subtitle.is-4.is-spaced
                          | Your Personal Details
                        .section-body
                          table.table-container
                            tbody
                              
                              tr.tablerow
                                td.item-name
                                  label(for='FirstName') First Name
                                  | :
                                td.item-value
                                  input#FirstName.catfish-input(data-val='true' data-val-required='First name is required.' name='FirstName' placeholder='First Name' type='text' value=user.first_name)
                                  span.field-validation-valid(data-valmsg-for='FirstName' data-valmsg-replace='true')
                                  div(data-lastpass-icon-root='true' style='position: relative !important; height: 0px !important; width: 0px !important; float: left !important;')
                              tr.tablerow
                                td.item-name
                                  label(for='LastName') Last Name
                                  | :
                                td.item-value
                                  input#LastName.catfish-input(data-val='true' data-val-required='Last Name is required.' name='LastName' placeholder='Last Name' type='text' value=user.last_name)
                                  span.field-validation-valid(data-valmsg-for='LastName' data-valmsg-replace='true')
                              tr.tablerow
                                td.item-name
                                  label(for='Email') Email Address
                                  | :
                                td.item-value
                                  input#Email.catfish-input(data-val='true' data-val-email='You must supply a valid email address for "Email address"' data-val-required='Email is required.' name='Email' placeholder='Email Address' type='text' value=user.username)
                                  span.field-validation-valid(data-valmsg-for='Email' data-valmsg-replace='true')
                        .clear
                      .customer__section
                        h2.section-title.subtitle.is-4.is-spaced
                          | Company Details
                        .clear
                        .section-body
                          table.table-container
                            tbody
                              tr.tablerow
                                td.item-name
                                  label(for='Company') Company name
                                  | :
                                td.item-value
                                  input#Company.catfish-input(name='Company' placeholder='Company name' type='text' value=user.company)
                                  span.field-validation-valid(data-valmsg-for='Company' data-valmsg-replace='true')
                        .clear
                      .customer__section
                        h2.section-title.subtitle.is-4.is-spaced
                          | Your Address
                        .clear
                        .section-body
                          table.table-container
                            tbody
                              tr.tablerow
                                td.item-name
                                  label(for='StreetAddress') Address Line 1
                                  | :
                                td.item-value
                                  input#StreetAddress.catfish-input(name='StreetAddress' placeholder='Address Line 1' type='text' value=user.address_line_1)
                                  span.field-validation-valid(data-valmsg-for='StreetAddress' data-valmsg-replace='true')
                              tr.tablerow
                                td.item-name
                                  label(for='StreetAddress2') Address Line 2
                                  | :
                                td.item-value
                                  input#StreetAddress2.catfish-input(name='StreetAddress2' placeholder='Address Line 2' type='text' value=user.address_line_2)
                                  span.field-validation-valid(data-valmsg-for='StreetAddress2' data-valmsg-replace='true')
                              tr.tablerow
                                td.item-name
                                  label(for='City') Town
                                  | :
                                td.item-value
                                  input#City.catfish-input(name='City' placeholder='Town' type='text' value=user.town)
                                  span.field-validation-valid(data-valmsg-for='City' data-valmsg-replace='true')
                              tr.tablerow
                                td.item-name
                                  label(for='CountryId') Country
                                  | :
                                td.item-value
                                  select.catfish-select(data-val='true'   name='CountryId')
                                    option(selected='selected' '80' data-zipcoderegex='^([Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9]?[A-Za-z])))) {0,1}[0-9][A-Za-z]{2})$' value='KE') Kenya
                                    option('1' data-zipcoderegex='^([0-9]{5})(?:[-\s]*([0-9]{4}))?$' value='US') United States
                                    option('2' data-zipcoderegex='.*' value='CA') Canada
                                    option('86' data-zipcoderegex='.*' value='AF') Afghanistan
                                    option('87' data-zipcoderegex='.*' value='AL') Albania
                                    option('88' data-zipcoderegex='.*' value='DZ') Algeria
                                    option('89' data-zipcoderegex='.*' value='AS') American Samoa
                                    option('90' data-zipcoderegex='.*' value='AD') Andorra
                                    option('91' data-zipcoderegex='.*' value='AO') Angola
                                    option('92' data-zipcoderegex='.*' value='AI') Anguilla
                                    option('93' data-zipcoderegex='.*' value='AQ') Antarctica
                                    option('94' data-zipcoderegex='.*' value='AG') Antigua and Barbuda
                                    option('3' data-zipcoderegex='.*' value='AR') Argentina
                                    option('4' data-zipcoderegex='.*' value='AM') Armenia
                                    option('5' data-zipcoderegex='.*' value='AW') Aruba
                                    option('6' data-zipcoderegex='.*' value='AU') Australia
                                    option('7' data-zipcoderegex='.*' value='AT') Austria
                                    option('8' data-zipcoderegex='.*' value='AZ') Azerbaijan
                                    option('9' data-zipcoderegex='.*' value='BS') Bahamas
                                    option('95' data-zipcoderegex='.*' value='BH') Bahrain
                                    option('10' data-zipcoderegex='.*' value='BD') Bangladesh
                                    option('96' data-zipcoderegex='.*' value='BB') Barbados
                                    option('11' data-zipcoderegex='.*' value='BY') Belarus
                                    option('12' data-zipcoderegex='.*' value='BE') Belgium
                                    option('13' data-zipcoderegex='.*' value='BZ') Belize
                                    option('97' data-zipcoderegex='.*' value='BJ') Benin
                                    option('14' data-zipcoderegex='.*' value='BM') Bermuda
                                    option('98' data-zipcoderegex='.*' value='BT') Bhutan
                                    option('15' data-zipcoderegex='.*' value='BO') Bolivia
                                    option('16' data-zipcoderegex='.*' value='BA') Bosnia and Herzegowina
                                    option('99' data-zipcoderegex='.*' value='BW') Botswana
                                    option('100' data-zipcoderegex='.*' value='BV') Bouvet Island
                                    option('17' data-zipcoderegex='.*' value='BR') Brazil
                                    option('101' data-zipcoderegex='.*' value='IO') British Indian Ocean Territory
                                    option('102' data-zipcoderegex='.*' value='BN') Brunei
                                    option('18' data-zipcoderegex='.*' value='BG') Bulgaria
                                    option('103' data-zipcoderegex='.*' value='BF') Burkina Faso
                                    option('104' data-zipcoderegex='.*' value='BI') Burundi
                                    option('105' data-zipcoderegex='.*' value='KH') Cambodia
                                    option('106' data-zipcoderegex='.*' value='CM') Cameroon
                                    option('107' data-zipcoderegex='.*' value='CV') Cape Verde
                                    option('19' data-zipcoderegex='.*' value='KY') Cayman Islands
                                    option('108' data-zipcoderegex='.*' value='CF') Central African Republic
                                    option('109' data-zipcoderegex='.*' value='TD') Chad
                                    option('20' data-zipcoderegex='.*' value='CL') Chile
                                    option('21' data-zipcoderegex='.*' value='CN') China
                                    option('110' data-zipcoderegex='.*' value='CX') Christmas Island
                                    option('111' data-zipcoderegex='.*' value='CC') Cocos (Keeling) Islands
                                    option('22' data-zipcoderegex='.*' value='CO') Colombia
                                    option('112' data-zipcoderegex='.*' value='KM') Comoros
                                    option('114' data-zipcoderegex='.*' value='CK') Cook Islands
                                    option('23' data-zipcoderegex='.*' value='CR') Costa Rica
                                    option('115' data-zipcoderegex='.*' value='CI') Cote D'Ivoire
                                    option('24' data-zipcoderegex='.*' value='HR') Croatia
                                    option('25' data-zipcoderegex='.*' value='CU') Cuba
                                    option('26' data-zipcoderegex='.*' value='CY') Cyprus
                                    option('27' data-zipcoderegex='.*' value='CZ') Czech Republic
                                    option('113' data-zipcoderegex='.*' value='CG') Democratic Republic of the Congo
                                    option('28' data-zipcoderegex='.*' value='DK') Denmark
                                    option('116' data-zipcoderegex='.*' value='DJ') Djibouti
                                    option('117' data-zipcoderegex='.*' value='DM') Dominica
                                    option('29' data-zipcoderegex='.*' value='DO') Dominican Republic
                                    option('30' data-zipcoderegex='.*' value='EC') Ecuador
                                    option('31' data-zipcoderegex='.*' value='EG') Egypt
                                    option('118' data-zipcoderegex='.*' value='SV') El Salvador
                                    option('119' data-zipcoderegex='.*' value='GQ') Equatorial Guinea
                                    option('120' data-zipcoderegex='.*' value='ER') Eritrea
                                    option('121' data-zipcoderegex='.*' value='EE') Estonia
                                    option('122' data-zipcoderegex='.*' value='ET') Ethiopia
                                    option('123' data-zipcoderegex='.*' value='FK') Falkland Islands (Malvinas)
                                    option('124' data-zipcoderegex='.*' value='FO') Faroe Islands
                                    option('125' data-zipcoderegex='.*' value='FJ') Fiji
                                    option('32' data-zipcoderegex='.*' value='FI') Finland
                                    option('33' data-zipcoderegex='.*' value='FR') France
                                    option('126' data-zipcoderegex='.*' value='GF') French Guiana
                                    option('127' data-zipcoderegex='.*' value='PF') French Polynesia
                                    option('128' data-zipcoderegex='.*' value='TF') French Southern Territories
                                    option('129' data-zipcoderegex='.*' value='GA') Gabon
                                    option('130' data-zipcoderegex='.*' value='GM') Gambia
                                    option('34' data-zipcoderegex='.*' value='GE') Georgia
                                    option('35' data-zipcoderegex='.*' value='DE') Germany
                                    option('131' data-zipcoderegex='.*' value='GH') Ghana
                                    option('36' data-zipcoderegex='.*' value='GI') Gibraltar
                                    option('37' data-zipcoderegex='.*' value='GR') Greece
                                    option('132' data-zipcoderegex='.*' value='GL') Greenland
                                    option('133' data-zipcoderegex='.*' value='GD') Grenada
                                    option('134' data-zipcoderegex='.*' value='GP') Guadeloupe
                                    option('135' data-zipcoderegex='.*' value='GU') Guam
                                    option('38' data-zipcoderegex='.*' value='GT') Guatemala
                                    option('136' data-zipcoderegex='.*' value='GN') Guinea
                                    option('137' data-zipcoderegex='.*' value='GW') Guinea-bissau
                                    option('138' data-zipcoderegex='.*' value='GY') Guyana
                                    option('139' data-zipcoderegex='.*' value='HT') Haiti
                                    option('140' data-zipcoderegex='.*' value='HM') Heard and Mc Donald Islands
                                    option('141' data-zipcoderegex='.*' value='HN') Honduras
                                    option('39' data-zipcoderegex='.*' value='HK') Hong Kong
                                    option('40' data-zipcoderegex='.*' value='HU') Hungary
                                    option('142' data-zipcoderegex='.*' value='IS') Iceland
                                    option('41' data-zipcoderegex='.*' value='IN') India
                                    option('42' data-zipcoderegex='.*' value='ID') Indonesia
                                    option('143' data-zipcoderegex='.*' value='IR') Iran
                                    option('144' data-zipcoderegex='.*' value='IQ') Iraq
                                    option('43' data-zipcoderegex='.*' value='IE') Ireland
                                    option('44' data-zipcoderegex='.*' value='IL') Israel
                                    option('45' data-zipcoderegex='.*' value='IT') Italy
                                    option('46' data-zipcoderegex='.*' value='JM') Jamaica
                                    option('47' data-zipcoderegex='.*' value='JP') Japan
                                    option('48' data-zipcoderegex='.*' value='JO') Jordan
                                    option('49' data-zipcoderegex='.*' value='KZ') Kazakhstan
                                    option('145' data-zipcoderegex='.*' value='KE') Kenya
                                    option('146' data-zipcoderegex='.*' value='KI') Kiribati
                                    option('51' data-zipcoderegex='.*' value='KW') Kuwait
                                    option('148' data-zipcoderegex='.*' value='KG') Kyrgyzstan
                                    option('149' data-zipcoderegex='.*' value='LA') Laos
                                    option('150' data-zipcoderegex='.*' value='LV') Latvia
                                    option('151' data-zipcoderegex='.*' value='LB') Lebanon
                                    option('152' data-zipcoderegex='.*' value='LS') Lesotho
                                    option('153' data-zipcoderegex='.*' value='LR') Liberia
                                    option('154' data-zipcoderegex='.*' value='LY') Libya
                                    option('155' data-zipcoderegex='.*' value='LI') Liechtenstein
                                    option('156' data-zipcoderegex='.*' value='LT') Lithuania
                                    option('157' data-zipcoderegex='.*' value='LU') Luxembourg
                                    option('158' data-zipcoderegex='.*' value='MO') Macau
                                    option('160' data-zipcoderegex='.*' value='MG') Madagascar
                                    option('161' data-zipcoderegex='.*' value='MW') Malawi
                                    option('52' data-zipcoderegex='.*' value='MY') Malaysia
                                    option('162' data-zipcoderegex='.*' value='MV') Maldives
                                    option('163' data-zipcoderegex='.*' value='ML') Mali
                                    option('164' data-zipcoderegex='.*' value='MT') Malta
                                    option('165' data-zipcoderegex='.*' value='MH') Marshall Islands
                                    option('166' data-zipcoderegex='.*' value='MQ') Martinique
                                    option('167' data-zipcoderegex='.*' value='MR') Mauritania
                                    option('168' data-zipcoderegex='.*' value='MU') Mauritius
                                    option('169' data-zipcoderegex='.*' value='YT') Mayotte
                                    option('53' data-zipcoderegex='.*' value='MX') Mexico
                                    option('170' data-zipcoderegex='.*' value='FM') Micronesia
                                    option('171' data-zipcoderegex='.*' value='MD') Moldova
                                    option('172' data-zipcoderegex='.*' value='MC') Monaco
                                    option('173' data-zipcoderegex='.*' value='MN') Mongolia
                                    option('174' data-zipcoderegex='.*' value='MS') Montserrat
                                    option('175' data-zipcoderegex='.*' value='MA') Morocco
                                    option('176' data-zipcoderegex='.*' value='MZ') Mozambique
                                    option('177' data-zipcoderegex='.*' value='MM') Myanmar
                                    option('178' data-zipcoderegex='.*' value='NA') Namibia
                                    option('179' data-zipcoderegex='.*' value='NR') Nauru
                                    option('180' data-zipcoderegex='.*' value='NP') Nepal
                                    option('54' data-zipcoderegex='.*' value='NL') Netherlands
                                    option('181' data-zipcoderegex='.*' value='AN') Netherlands Antilles
                                    option('182' data-zipcoderegex='.*' value='NC') New Caledonia
                                    option('55' data-zipcoderegex='.*' value='NZ') New Zealand
                                    option('183' data-zipcoderegex='.*' value='NI') Nicaragua
                                    option('184' data-zipcoderegex='.*' value='NE') Niger
                                    option('185' data-zipcoderegex='.*' value='NG') Nigeria
                                    option('186' data-zipcoderegex='.*' value='NU') Niue
                                    option('187' data-zipcoderegex='.*' value='NF') Norfolk Island
                                    option('50' data-zipcoderegex='.*' value='KP') North Korea, Democratic People's Republic of Korea
                                    option('159' data-zipcoderegex='.*' value='MK') North Macedonia
                                    option('188' data-zipcoderegex='.*' value='MP') Northern Mariana Islands
                                    option('56' data-zipcoderegex='.*' value='NO') Norway
                                    option('189' data-zipcoderegex='.*' value='OM') Oman
                                    option('57' data-zipcoderegex='.*' value='PK') Pakistan
                                    option('190' data-zipcoderegex='.*' value='PW') Palau
                                    option('191' data-zipcoderegex='.*' value='PA') Panama
                                    option('192' data-zipcoderegex='.*' value='PG') Papua New Guinea
                                    option('58' data-zipcoderegex='.*' value='PY') Paraguay
                                    option('59' data-zipcoderegex='.*' value='PE') Peru
                                    option('60' data-zipcoderegex='.*' value='PH') Philippines
                                    option('193' data-zipcoderegex='.*' value='PN') Pitcairn
                                    option('61' data-zipcoderegex='.*' value='PL') Poland
                                    option('62' data-zipcoderegex='.*' value='PT') Portugal
                                    option('63' data-zipcoderegex='.*' value='PR') Puerto Rico
                                    option('64' data-zipcoderegex='.*' value='QA') Qatar
                                    option('194' data-zipcoderegex='.*' value='RE') Reunion
                                    option('65' data-zipcoderegex='.*' value='RO') Romania
                                    option('66' data-zipcoderegex='.*' value='RU') Russia
                                    option('195' data-zipcoderegex='.*' value='RW') Rwanda
                                    option('196' data-zipcoderegex='.*' value='KN') Saint Kitts and Nevis
                                    option('197' data-zipcoderegex='.*' value='LC') Saint Lucia
                                    option('198' data-zipcoderegex='.*' value='VC') Saint Vincent and the Grenadines
                                    option('199' data-zipcoderegex='.*' value='WS') Samoa
                                    option('200' data-zipcoderegex='.*' value='SM') San Marino
                                    option('201' data-zipcoderegex='.*' value='ST') Sao Tome and Principe
                                    option('67' data-zipcoderegex='.*' value='SA') Saudi Arabia
                                    option('202' data-zipcoderegex='.*' value='SN') Senegal
                                    option('85' data-zipcoderegex='.*' value='RS') Serbia
                                    option('203' data-zipcoderegex='.*' value='SC') Seychelles
                                    option('204' data-zipcoderegex='.*' value='SL') Sierra Leone
                                    option('68' data-zipcoderegex='.*' value='SG') Singapore
                                    option('69' data-zipcoderegex='.*' value='SK') Slovakia
                                    option('70' data-zipcoderegex='.*' value='SI') Slovenia
                                    option('205' data-zipcoderegex='.*' value='SB') Solomon Islands
                                    option('206' data-zipcoderegex='.*' value='SO') Somalia
                                    option('71' data-zipcoderegex='.*' value='ZA') South Africa
                                    option('207' data-zipcoderegex='.*' value='GS') South Georgia & South Sandwich Islands
                                    option('147' data-zipcoderegex='.*' value='KR') South Korea
                                    option('72' data-zipcoderegex='.*' value='ES') Spain
                                    option('208' data-zipcoderegex='.*' value='LK') Sri Lanka
                                    option('209' data-zipcoderegex='.*' value='SH') St. Helena
                                    option('210' data-zipcoderegex='.*' value='PM') St. Pierre and Miquelon
                                    option('211' data-zipcoderegex='.*' value='SD') Sudan
                                    option('212' data-zipcoderegex='.*' value='SR') Suriname
                                    option('213' data-zipcoderegex='.*' value='SJ') Svalbard and Jan Mayen Islands
                                    option('214' data-zipcoderegex='.*' value='SZ') Swaziland
                                    option('73' data-zipcoderegex='.*' value='SE') Sweden
                                    option('74' data-zipcoderegex='.*' value='CH') Switzerland
                                    option('215' data-zipcoderegex='.*' value='SY') Syria
                                    option('75' data-zipcoderegex='.*' value='TW') Taiwan
                                    option('216' data-zipcoderegex='.*' value='TJ') Tajikistan
                                    option('217' data-zipcoderegex='.*' value='TZ') Tanzania
                                    option('76' data-zipcoderegex='.*' value='TH') Thailand
                                    option('218' data-zipcoderegex='.*' value='TG') Togo
                                    option('219' data-zipcoderegex='.*' value='TK') Tokelau
                                    option('220' data-zipcoderegex='.*' value='TO') Tonga
                                    option('221' data-zipcoderegex='.*' value='TT') Trinidad and Tobago
                                    option('222' data-zipcoderegex='.*' value='TN') Tunisia
                                    option('77' data-zipcoderegex='.*' value='TR') Turkey
                                    option('223' data-zipcoderegex='.*' value='TM') Turkmenistan
                                    option('224' data-zipcoderegex='.*' value='TC') Turks and Caicos Islands
                                    option('225' data-zipcoderegex='.*' value='TV') Tuvalu
                                    option('226' data-zipcoderegex='.*' value='UG') Uganda
                                    option('78' data-zipcoderegex='.*' value='UA') Ukraine
                                    option('79' data-zipcoderegex='.*' value='AE') United Arab Emirates
                                    option('81' data-zipcoderegex='.*' value='UM') United States minor outlying islands
                                    option('82' data-zipcoderegex='.*' value='UY') Uruguay
                                    option('83' data-zipcoderegex='.*' value='UZ') Uzbekistan
                                    option('227' data-zipcoderegex='.*' value='VU') Vanuatu
                                    option('228' data-zipcoderegex='.*' value='VA') Vatican City State (Holy See)
                                    option('84' data-zipcoderegex='.*' value='VE') Venezuela
                                    option('229' data-zipcoderegex='.*' value='VN') Vietnam
                                    option('230' data-zipcoderegex='.*' value='VG') Virgin Islands (British)
                                    option('231' data-zipcoderegex='.*' value='VI') Virgin Islands (U.S.)
                                    option('232' data-zipcoderegex='.*' value='WF') Wallis and Futuna Islands
                                    option('233' data-zipcoderegex='.*' value='EH') Western Sahara
                                    option('234' data-zipcoderegex='.*' value='YE') Yemen
                                    option('235' data-zipcoderegex='.*' value='ZM') Zambia
                                    option('236' data-zipcoderegex='.*' value='ZW') Zimbabwe
                             
                              tr.tablerow
                                td.item-name
                                  label(for='ZipPostalCode') Postcode
                                  | :
                                td.item-value
                                  input#ZipPostalCode.catfish-input(name='ZipPostalCode' placeholder='Postcode' type='text' value=user.postcode)
                                  span.field-validation-valid(data-valmsg-for='ZipPostalCode' data-valmsg-replace='true')
                        .clear
                      .customer__section
                        h2.section-title.subtitle.is-4.is-spaced
                          | Your Contact Information
                        .clear
                        .section-body
                          table.table-container
                            tbody
                              tr.tablerow
                                td.item-name
                                  label(for='Phone') Phone
                                  | :
                                td.item-value
                                  input#Phone.catfish-input(data-val='true' data-val-required='Phone is required.' name='Phone' placeholder='Phone' type='text' value=user.phone_number)
                                  span.field-validation-valid(data-valmsg-for='Phone' data-valmsg-replace='true')
                        .clear
                      
                      .buttons
                        button.catfish-button.is-primary(type='submit') Save
          #confirmDepartmentChange(title='Are you sure?' style='display: none')
            .block
              p
                | Are you sure you want to change your current department? Doing so will clear down your existing shopping cart and wish list, so your items will be lost
          script(type='text/javascript').
            $("#checkDepartmentChanged").click(function() {
            if ("False" === "True") {
            if ("" != $("#departmentDropDown option:selected").val()) {
            $("#confirmDepartmentChange").show();
            $("#confirmDepartmentChange").dialog({
            buttons: {
            "Confirm": function () {
            $("#confirmDepartmentChange").dialog('close');
            $("#save-info-button").click();
            }, "Cancel": function () {
            $("#departmentDropDown").val("");
            $("#confirmDepartmentChange").dialog('close');
            $("#confirmDepartmentChange").hide();
            }},
            create: function (){
            $(this).closest(".ui-dialog").find(".ui-dialog-buttonset").addClass("catfish-classes");
            $(this).closest(".ui-dialog").find(".ui-button").addClass("button ui-footer-button");
            }
            });
            } else {
            $("#save-info-button").click();
            }
            } else {
            $("#save-info-button").click();
            }
            });
          #AfterMainContainer.afterMainContainer-inner
